@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");

.App {
  text-align: center;
  margin-bottom: 3em;
  padding-bottom: 5em;
  background-color: rgb(39, 34, 34);
  color : white;
}
.title-circus {
  font-family: 'Rock Salt', cursive;
  font-size: 2em;
  background-color: rgb(223, 25, 25);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
}

/*---HOME---*/

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5em;
  padding-top: 1em;
} 
.home.img {
  width: 100%;
  margin-bottom: 2em;
}
.image-home {
  width: 90%;
}
.accueil {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  border: solid;
  border-color: rgb(223, 25, 25);
  margin-top: 1.5em;
}

/*---PERFORMANCES---*/

.performance {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.img-laugh {
  display: flex;
  flex-direction: column;
}
.img-dream {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 90%;
  height: auto;
  padding: 0.5em;
}

/*---BOOKING---*/

.back-arrow {
  display: flex;
  justify-content: left;
  width: 2em;
}
.title-form {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  border: solid;
  border-color: rgb(223, 25, 25);
  margin-top: 2em;
}
.div-add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  color: #282c34;  
  padding-top: 2em;
}
label {
  padding-top: 0.5em;
  color: white;
}
input {
  width: 70%;
  border-radius: 7px;
  font-size: 1.2em;
}
.send-form-users {
  margin-top: 2em;
  border-radius: 7px;
  font-size: 1.1em;
  width: 40%;
  background-color: rgb(223, 25, 25);
  color: white;
  height: 2em;
}

/*---NAVLINK---*/

.footer  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(223, 25, 25);
  height: 8%;
}
a {
  padding: 1em;
  text-decoration: none;
  color: white;
}


